<section class="section">
    <div class="container">
        <h2 class="title">Our Clients</h2>
        <ul class="list">
            <li class="list-item">
                <a href="" class="clients-link">
                    <img src="./images/airbnb.svg" alt=""></a>
                </li>
            <li class="list-item">
                <a href="" class="clients-link">
                    <img src="./images/google.svg" alt=""></a>
                </li>
            <li class="list-item">
                <a href="" class="clients-link">
                    <img src="./images/microsoft.svg" alt=""></a>
                </li>
            <li class="list-item">
                <a href="" class="clients-link">
                    <img src="./images/fedEx.svg" alt=""></a>
                </li>
        </ul>
    </div>
</section>