<header class="header">
    <container>
        <a href="" class="logo">
            <img src="./images/logo-icon.svg" alt="logo">
            Product
        </a>
        <nav class="nav">
            <a class="nav-link" href="">Resources</a>
            <a class="nav-link" href="">Pricing</a>
            <a class="nav-link" href="">Customers</a>
            <a class="nav-link" href="">Product</a>
        </nav>
        <button class="button button-primery">Sign In</button>
        <button class="button button-secondary">Sign Up</button>

        <fieldset class="togler">
            <legend class="visuali-hidden">Togler Control</legend>
            <input class="togler-conttrol togler-conttrol-light"  type="radio" name="togler-conttrol" value="light">
            <input class="togler-conttrol togler-conttrol-auto"  type="radio" name="togler-conttrol" value="auto">
            <input class="togler-conttrol togler-conttrol-dark"  type="radio" name="togler-conttrol" value="dark">
        </fieldset>
    </container>
</header>